.main_page {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 5%;
}

.translation {
    float: right;
}

#main_header {
    margin-bottom: 20px;
}

.show_remaining_balance {
    margin-top: 10px;
    margin-bottom: 30px;
}

.inc_exp_container {
    width: 25%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inc_exp_container .left {
    border-right: 1px solid rgb(209, 208, 208);
}

.inc_exp_container #money_plus {
    color: #00FF00;
}

.inc_exp_container #money_minus {
    color: #FF0000;
}
#list {
    width: 30%;
}

#list li {
    display: flex;
    flex-direction: row;
    justify-items: self-start;
    padding-top: 10px;
}

.list #items {
    margin-right: 40px;
}
.list #price {
    margin-left: 40px;
}

.list .income {
    border-right: 3px solid #00FF00;
}

.list .expense {
    border-right: 3px solid #FF0000;
}

#list li:hover .btn_delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.btn_delete {
    display: none;
    color: #ffffff;
    background-color: #FF0000;
    border: 1px solid red;
    border-radius: 2px 2px 2px 2px;
}

form {
    margin-top: 3%;
    width: 70%;
}

@media(max-width:780px) {
    .translation {
        margin-right: 50%;
    }
}